body {
    background-image: url('https://uploads6.wikiart.org/images/salvador-dali/the-persistence-of-memory-1931.jpg!Large.jpg');
    background-size: 1600px 800px;   
} 
#timer {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
}